<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}KalininGlass Server{% endblock %}</title>
        <!-- Icons -->
        <link rel="apple-touch-icon" sizes="180x180" href="/asset/img/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/asset/img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/asset/img/favicon/favicon-16x16.png">
        <link rel="manifest" href="/asset/img/favicon/site.webmanifest">
        <meta name="msapplication-TileColor" content="#00aba9">
        <meta name="msapplication-TileImage" content="/asset/img/favicon/mstile-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <!-- Manifest -->
        <link rel="manifest" href="/asset/js/manifest.json" />
        <!-- Font Awesome -->
        <link rel="stylesheet" href="/asset/font/fontawesome.css">
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="/asset/css/mdbootstrap/bootstrap.min.css">
        <!-- Material Design Bootstrap -->
        <link rel="stylesheet" href="/asset/css/mdbootstrap/mdb.min.css">
        <!-- Custom styles -->
        <link href="/asset/css/style.css" rel="stylesheet">
        <!-- Page's styles -->
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div id="pagePreloader" class="vh-100 vw-100 position-fixed d-flex justify-content-center align-items-center" style="z-index: 1100;">
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="mainWrapper" style="overflow-x: hidden; display: none;">
            {% block body %}{% endblock %}
        </div>
        <!-- jQuery -->
        <script type="text/javascript" src="/asset/js/mdbootstrap/jquery.min.js"></script>
        <!-- Bootstrap tooltips -->
        <script type="text/javascript" src="/asset/js/mdbootstrap/popper.min.js"></script>
        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript" src="/asset/js/mdbootstrap/bootstrap.min.js"></script>
        <!-- MDB core JavaScript -->
        <script type="text/javascript" src="/asset/js/mdbootstrap/mdb.min.js"></script>
        <!-- Custom JavaScript -->
        <script type="text/javascript" src="/asset/js/script.js"></script>
        <!-- Page's JavaScript -->
        {% block javascripts %}{% endblock %}
        <!-- Hide preloader -->
        <script type="text/javascript">
            window.onload = function () {
                let pagePreloader = document.getElementById('pagePreloader');
                let mainWrapper = document.getElementById('mainWrapper');
                pagePreloader.remove();
                mainWrapper.style.display = 'block';
                mainWrapper.style.overflowX = 'auto';
            }
        </script>
    </body>
</html>
